// Theme is based off the blood theme for reveal.js - as set in _config.yml
// This changes some elements to use the RepEquity Red.
// 
$repequityRed: #ff0000;

.reveal {

    section img {
        margin: 0;
        background: transparent;
        border: none;
        box-shadow: none;
    }

    p {
        text-align: left;
        img {
            display: block;
            margin: 0 auto;
        }
    }

    a {
        color: $repequityRed;
        &:hover, &:focus {
            color: lighten($repequityRed, 15%);
        }
    }
    .controls {
        div.navigate-left, div.navigate-left.enabled {
            border-right-color: $repequityRed;
        }
        div.navigate-right, div.navigate-right.enabled {
            border-left-color: $repequityRed;
        }
        div.navigate-up, div.navigate-up.enabled {
            border-bottom-color: $repequityRed;
        }
        div.navigate-down, div.navigate-down.enabled {
            border-top-color: $repequityRed;
        }
    }

}